@import "base.css";
@import "form.css";
@import "input.css";

button {
  width: 20%;
  margin: 8px 200px;
  display: inline-block;
  padding: 6px 2px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  outline: none;
  color: #fff;
  background-color: #4caf50;
  border: none;
  border-radius: 30px;
  box-shadow: 0 10px #999;
}

button:hover {
  background-color: black;
}

button:active {
  background-color: #8e3e49;
  box-shadow: 10 10px #666;
  transform: translateY(10px);
}
