@import "button.css";
@import "form.css";
@import "input.css";

input,
textarea {
  width: 80%;

  padding: 12px 20px;
  margin: 8px 90px;
  box-sizing: border-box;
  border-radius: 15px;
  background-color: rgb(0, 255, 251);
  color: white;
  font-size: 16px;
  background-image: src= "../assets/search_icon.png";
}
