.modal {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.modal-content {
  background: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 3cqmax;
  border-color: black;
  max-height: 350px;
  padding: 30px;
  max-width: 450px;
  text-align: center;

}
